<!-- #* [S] Common Header, Snb *# -->
#parse( "/common/header.vm" )
#parse( "/common/snb.vm" )
<!-- #* [E] Common Header, Snb *# -->

<!-- #* Velocty 주석 in HTML *# -->
<body>
	<div class="container">
		<div id="divPage">
			<div class="page-header">
			  <h1><a href="/test">Welocome</a> <small>Velocity</small></h1>
			</div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">기능 테스트</h3>
				</div>
			
				<div class="panel-body">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" id="btn_Save">저장</button>
						<button type="button" class="btn btn-default" id="btn_Find">조회</button>
						<button type="button" class="btn btn-default" id="btn_Page">페이지전환</button>
					</div>
					<br/>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" id="btn_RestTmpToJson">JSON파싱</button>
						<button type="button" class="btn btn-default" id="btn_RestTmpToXml">XML파싱</button>
						<button type="button" class="btn btn-default" id="btn_NaverRank">네이버실검순위:크롤링</button>
					</div>
					<br/>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" id="btn_SendMail">테스트메일발송</button>
						<button type="button" class="btn btn-default" id="btn_FindConfig">설정파일가져오기</button>
						<button type="button" class="btn btn-default" id="btn_FindException">예외처리테스트</button>
						<button type="button" class="btn btn-default" id="btn_SaveCookie">쿠키생성</button>
					</div>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">파일 업로드 테스트</h3>
				</div>
				<div class="panel-body">
					<form id="frm_file" enctype="multipart/form-data" method="POST">
						<input type="text" name="inp_name" value=""/>
						<input type="file" name="inp_file1" id="inp_file1" />
						<input type="file" name="inp_file2" id="inp_file2" />
					</form>
					<input type="button" id="btn_SaveFileUpload" value="업로드" />
				</div>
			</div>
			
			<div id="divValues" class="">
			</div>
			<br/><br/>
			
			<div class="panel panel-success">
	  			<div class="panel-heading">
					<h3 class="panel-title">테이블 리스트</h3>
				</div>
	 			<div class="panel-body">
	 				<table id="tblUserList" class="display compact" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>ID</th>
							<th>NAME</th>
							<th>ADDR</th>
							<th>PHONE</th>
						</tr>
					</thead>
					<tbody>
					#foreach( $eachData in $!{rData} )
						<tr>
							<td></td>
							<td>$!{eachData.user_id}</td>
							<td>$!{eachData.user_nm}</td>
							<td>$!{eachData.addr1} $!{eachData.addr2} $!{eachData.zipcode}</td>
							<td>$!{eachData.phone}</td>
						</tr>
					#end
					</tbody>
					<tfoot>
						<tr>
							<th>SQ</th>
							<th>ID</th>
							<th>NAME</th>
							<th>ADDR</th>
							<th>PHONE</th>
						</tr>
					</tfoot>
				</table>
	 			</div>
	 		</div>
	 		
	 		<div class="panel panel-danger">
	  			<div class="panel-heading">
					<h3 class="panel-title">입력테이블</h3>
				</div>
	 			<div class="panel-body">
					<table id="tblUserInfo" class="display compact" cellspacing="0" width="100%">
						<thead>
							<tr>
								<td>ID</td>
								<th>NAME</th>
								<th>ADDR1</th>
								<th>ADDR2</th>
								<th>ZIPCODE</th>
								<th>PHONE</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" name="user_id" value=""/></td>
								<td><input type="text" name="user_nm" value=""/></td>
								<td><input type="text" name="addr1" value=""/></td>
								<td><input type="text" name="addr2" value=""/></td>
								<td><input type="text" name="zipcode" value=""/></td>
								<td><input type="text" name="phone" value=""/></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>ID</td>
								<th>NAME</th>
								<th>ADDR1</th>
								<th>ADDR2</th>
								<th>ZIPCODE</th>
								<th>PHONE</th>
							</tr>
						</tfoot>
					</table>
	 			</div>
	 		</div>
		</div>
	</div>
	<script type="text/javascript">
		/* #* Velocity 주석 in Javascript *# */
		(function($J) {
			/* #* [S] Document Ready *# */
			$J(function() {
				/* #* [S] DataTables 그리드선언 *# */
				var t = $J("table#tblUserList").DataTable({
			        "columnDefs": [{
			            "searchable"	: false,
			            "orderable"		: false,
			            "targets"		: 0
			        }],
			        //"order": [[ 1, 'asc' ]],
			        "language": {
						"decimal"	: ",",
						"thousands"	: "."
			        },
					"pagingType": "full_numbers"
			    });
			    t.on("order.dt search.dt", function () {
			        t.column(0, {search:"applied", order:"applied"}).nodes().each( function (cell, i) {
			            cell.innerHTML = i+1;
			        } );
			    }).draw();
			    
			    $J("table#tblUserInfo").DataTable();
			    /* #* [E] DataTables 그리드선언 *# */
			    
				$J("#btn_Find").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/findUserList");
					Controller.setParams({
						"user_nm"	: "김성",
						"user_id"	: "applepie1130"
					});
					Controller.submit(function(data){
						console.log(data);
						$J("#divValues").text(JSON.stringify(data));
					});
				});
				
				$J("#btn_Save").bind("click", function(e) {
					e.preventDefault();
					
					var objUserInfo	= {"status":"insert"};
					var tblUserInfo	= $J("#tblUserInfo input");
					var nTblLenght	= tblUserInfo.length;
					for(i=0; i<nTblLenght; i++){
						objUserInfo[tblUserInfo.eq(i).attr("name")] = tblUserInfo.eq(i).val(); 
					}
					Controller.setAction("/test/saveUserInfo");
					Controller.setParams({
						"rUserInfo"	: [objUserInfo]
					}, "JSON");
					Controller.submit(function(data){
						if ( data.status < 0) {
							alert(data.message);
						} else {
							location.reload();
						}
					});
				});
				
				$J("#btn_Page").bind("click", function(e) {
					e.preventDefault();
					
					PageReplaceForm.setAction("/test");
					PageReplaceForm.setParams({
						"id":"apple"
					});
					PageReplaceForm.submit(function(data){
						$J("#divPage").empty();
						$J("#divPage").append(data);
					});
				});
				
				$J("#btn_RestTmpToJson").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/findRestTmpList");
					Controller.setParams({
						url			: "http://www.followkr.com/rank/realtime.php",
						//url			: "http://ip.jsontest.com/",
						restType	: "json"
					});
					Controller.submit(function(data){
						console.log(data);
						$J("#divValues").text(JSON.stringify(data.key));
					});
				});
				
				$J("#btn_RestTmpToXml").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/findRestTmpList");
					Controller.setParams({
						//url			: "http://stock.nate.com/data/StockInfoToXml.do",
						url			: "http://cafe.rss.naver.com/inmacbook",
						restType	: "xml"
					});
					Controller.submit(function(data){
						console.log(data);
						$J("#divValues").text(JSON.stringify(data.key));
					});
				});
				
				$J("#btn_NaverRank").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/findNaverRealRankList");
					Controller.setParams({});
					Controller.submit(function(data){
						console.log(data);
						$J("#divValues").text(JSON.stringify(data));
					});
				});
				
				$J("#btn_SendMail").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/saveSendMail");
					Controller.setParams({
						"from"		: "dbdbrhrvlfl@naver.com",
						"fromNm"	: "김성준",
						"to"		: "gptmd3@hanmail.net",
						"title"		: "[공지] 메일발송 테스트 입니다.",
						"contents"	: "메일이 잘 가지요? ㅎㅎ",
					});
					Controller.submit(function(data){
						console.log(data);
						if ( data.status > 0 ) {
							alert("메일발송처리가 완료되었습니다.\n감사합니다.");
						}
					});
				});
				
				$J("#btn_FindConfig").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/findBeanConfigure");
					Controller.setParams({});
					Controller.submit(function(data){
						console.log(data);
						$J("#divValues").text(JSON.stringify(data));
					});
				});
				
				$J("#btn_FindException").bind("click", function(e) {
					e.preventDefault();
					
					Controller.setAction("/test/findExceptionTest");
					Controller.setParams({});
					Controller.submit(function(data){
						console.log(data);
					});
				});
				
				$J("#btn_SaveCookie").bind("click", function(e) {
					e.preventDefault();
					
					var nCurrTime = new Date(), nStandTime = new Date();
					nStandTime.setHours(23, 59, 59);
					
					Controller.setAction("/test/saveCookieTest");
					Controller.setParams({
						"cookieName"	: "TEST_COOKIE",
						"cookieValue"	: "1",
						"cookieExpire"	: nStandTime.getHours() * nStandTime.getMinutes() * nStandTime.getMilliseconds(),
						"cookiePath"	: "/"
					});
					Controller.submit(function(data){
						console.log(data);
					});
				});
				
				$J("#btn_SaveFileUpload").bind("click", function(e) {
					e.preventDefault();
					
					var formData = new FormData($J("form#frm_file")[0]);
					
					Controller.setAction("/test/saveFileUpload");
					Controller.setParams( formData , "FILE" );
					Controller.submit(function(data){
						console.log(data);
						alert("이미지 업로드가 완료되었습니다.");
						location.reload();
					});
				});
				
				// Hidden Function
				// $J("#inp_file1").fileupload(FileUploader.submit("/test/saveFileUpload"));
			    
			});
			/* #* [E] Document Ready *# */
		}(jQuery));
	</script>
</body>